<header>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <i class="fas fa-rocket"></i>
          <!-- <img alt="Brand" src="...">-->
          Adpactor
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="nav-content">
        <ul class="nav navbar-nav">
          <li><a href="/mission">Mission</a></li>
          <li class="dropdown">
            <a href="/platform" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Platform <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/platform">How it works</a></li>
              <!-- <li><a href="/platform/#demo">See it in action</a></li> -->
              <li role="separator" class="divider"></li>
              <li><a href="/platform/#publishers">For Publishers</a></li>
              <li><a href="/platform/#brands">For Brands</a></li>
              <li><a href="/platform/#nonprofits">For Nonprofits</a></li>
            </ul>
          </li>
          <li><a href="/join">Join our Network</a></li>
          <li><a href="/company">Company</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="/impact-advertising">Impact Advertising</a></li> -->
          <!-- <li><a href="#">Login</a></li> -->
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</header>
