@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto');

$color-main: rgb(250,128,97);
$color-secondary: rgb(212,233,243);

$font-main: 'Roboto', sans-serif;
$font-header: 'Patua One', cursive;

body {
  font-family: $font-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
}

.buffer {
  margin-top: 10px;
}

.buffer2 {
  margin-top: 20px;
}
